*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.product {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
} */
